@use "sass:color";
@use "../core/" as core;


// Change de global styles by clicking the icon dark mode

.dark-mode {
    background-color: color.scale(core.$brand-dark-color, $lightness: -60%, $saturation: +20%);

    header,
    .header__container.bg-active,
    header.scrolled {
        background-color: color.scale(core.$brand-dark-color, $lightness: -80%, $saturation: -10%);

        .nav__options li a {
            color: #f1eaea;

        }
    }

    .nav__options.active {
        background-color: color.scale(core.$brand-dark-color, $lightness: -80%, $saturation: +40%);

    }

    a,
    h2,
    li {
        color: #f1eaea;
    }

    .catalog h2,
    h1,
    h2,
    h3,
    ul li a,
    p {
        color: #dfcaca;
    }

    .about-us,
    .ads,
    .catalog {
        background-color: #211b27;
    }

    .footer,
    .footer-container {
        color: #fff; // texto en blanco para contraste
        color: color.scale(core.$brand-alternate-color, $lightness: +90%, $saturation: -65%);
        background-color: #18131e;
    }

    .catalog__grid .card {
        background-color: color.scale(core.$brand-alternate-color, $lightness: +90%, $saturation: -65%);
        color: #8f7e7e;
    }

    html,
    body {
        height: 100%; // asegura que ocupen toda la altura
        width: 100%; // asegura que ocupen todo el ancho
        margin: 0; // elimina márgenes por defecto
        padding: 0; // elimina padding por defecto
    }

    body {
        background-color: #121212; // tu color de fondo
    }


}