@use "sass:color";
@use "../../core/" as core;
@use '../../config/mixins' as *;
@use "../../ui/" as ui;

/* 
-- Navigation bar  
 */
// nav {
//   flex: 0.6; // nav ocupa el resto del ancho
//   // flex-grow: 0.35; // crece la mitad que un hermano con flex-grow: 1
//   // flex-shrink: 1;
//   // flex-basis: 0;
// }

// .branding {
//   // flex: 0;
//   flex-grow: 0.35; // crece la mitad que un hermano con flex-grow: 1
//   flex-shrink: 1;
//   flex-basis: 0;
// }

// .nav__options {
//   flex-grow: 0.7;
//   flex-shrink: 1;
//   flex-basis: 0;

// }

.dark-mode-button {
  flex: 0;
  margin-left: auto;

}

/* 
-- Control the background color behaviour at header

*/
// oscurece las fuentes al bajar
.header_container.bg-active,
.header.scrolled .nav__options li a {
  color: black; // estado al hacer scroll: color base
}

// TODO: descomentar
// .header.scrolled .nav__login a {
//   color: #fff;
// }

// ajusta el contraste para adaptar al fondo
.header__container.bg-active ul li a {
  color: core.$brand-color-three;
}

// Dark mode icon style by default
.header .dark-mode-button {
  background-color: rgb(144, 159, 159);
}

.header.scrolled .dark-mode-button {
  background-color: rgb(17, 4, 211);
}

.header.scrolled .dark-mode-button.active {
  background-color: orangered;
}

.menuMobile.active {
  background: red;
  border: 5px solid red;
}


/* 
--  options menu list 
*/
.nav__options {

  @include container($container-widths);

  /* --  Set the container --  */

  // BEGIN - por defecto Mobile First. 
  display: none;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;

  // /* From here, Mobile size */
  &.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -1.585rem;
    left: 0;
    // Ajusta el ancho que ocupará la ventana mobile
    width: 100vh;
    height: 90vh;
    overflow: hidden;
    background-color: color.scale(core.$brand-light-color, $lightness: +80%, $saturation: -90%);
    padding: 2rem 1rem;
    gap: 1.5rem;
    z-index: 999;
    transition: max-width 0.3s ease;
    transition: all 0.3s ease;
    transform: translateX(0);

    // Animación suave
    opacity: 1;
    transform: translateY(0);

    // Esquinas redondeadas inferiores
    // border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    // Sombra suave con tu color primario
    // box-shadow: 0 6px 12px rgba(119, 0, 240, 0.25);
    box-shadow: 0 6px 12px color.scale(core.$brand-primary-color, $lightness: -50%);
    transition: all 0.3s ease;



    .nav__branding {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      align-items: center;
      gap: 0.5rem;
      // espacio para que la línea respire
      padding-bottom: 0.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); // línea muy delgada y suave
    }

    // espacio entre ellos para despegar del extremo derecho
    li a {
      @include responsive-font($list-sizes);
      padding: 0 15px;
      color: core.$brown; // estado inicial: blanco sobre hero
      transition: color 0.3s ease;
      font-weight: 500;
      padding: 10px 15px;
    }

    li a:hover {
      background-color: core.$blue;
      color: #fff;
      text-decoration: none;

    }

    .nav__login.active a {
      margin-bottom: 10px;
      position: absolute;
      bottom: 15%;
      margin-left: auto;
      left: 15%;
      margin-right: auto;
      // display: block;
      // border-top: 1px solid rgba(0, 0, 0, 0.1); // línea muy delgada y suave
      // text-align: center;
      // margin: 0 auto;
      @include ui.button(core.$brand-primary-color, white, block, 70%);
    }

    .dark-mode-button {
      background-color: rgb(255, 140, 0);
      width: 40px;
      height: 40px;
      position: absolute;
      bottom: 3%;
    }

    // Mostrar el boton de cierre / Ventana activa / Mobile menu
    // .menuToggle.active {
    // .menuMobile.active {
    //   position: absolute;
    //   z-index: 1200;
    //   background-color: rgb(255, 140, 0);

    //   top: 5%;
    //   width: 80px;
    //   height: 80px;
    //   bottom: 10%;

    // }
    .menuToggle.active {
      display: none;
    }

    // END - this block when mobile responsive is active
  }



  //* From here: Regular size Tablet to desktops */
  // TODO:  Para que 
  @include respond(tablet) {
    /*  --->  Responsivo antes de llegar al viewport de Mobile */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.435rem;
    align-items: center;
    opacity: 1;
    transform: none;
  }

  .nav__branding {
    display: none;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 100px;
      height: auto;
      color: #fff;
    }

    .site-name {
      font-size: 1.7rem;
      font-weight: 800;
      color: core.$primary;
    }
  }

  // /* Default font menu */
  li a {
    color: #fff;
    @include responsive-font($list-sizes);
    font-weight: 500;
    border-radius: 5px;
    padding: 0.5em 0.7rem;
  }

  /* Aplica el hover a todos los <li> excepto el que tenga la clase nav__login */
  li:not(.nav__login) a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }

  .nav__login a {
    // /* evita que el contenido del boton se parta en varias líneas */
    white-space: nowrap;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: core.$secondary-font;
    @include ui.button-ghost;
    color: #fff;

    .btn-account {
      // @include responsive-font($list-sizes);
      margin-top: 7px;
      display: inline-block;
      background-color: core.$primary; // tu color de branding
      color: #fff;
      padding: 8px 16px;
      border-radius: 5px;
      font-weight: bold;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: color.scale(core.$primary, $lightness: -20%, $saturation: +20%);
        transform: scale(1.02);

      }
    }
  }

  // /* Impide que se desborde el enlace/boton de login en el nav */
  // TODO: Revisar esto
  // @include respond(tablet) {

  // .nav__login {
  //   /* Otro responsivo --- TODO. Revisar si es necesario */

  //   // padding: 1.2rem 1.2rem; // más compacto
  //   // font-size: 1.2rem;
  //   @include responsive-font($list-sizes);
  //   // margin-right: 2rem;
  //   color: #fff;
  // }

  //   .dark-mode-button {
  //     color: yellow
  //   }
  // }


  // Mobile menu
  // & li a {
  //   color: white;
  //   margin: 0;

  //   &:hover {
  //     color: core.$primary;
  //   }
  // }

  // /* END .nav__options */
  // }



  // TODO: Revisar porque se duplica esta parte
  // .nav__options li a {
  //   // aquí aplicamos la tipografía responsiva
  //   // @include responsive-font($nav-font-sizes);

  //   border-radius: 5px;
  //   padding: 0.5em 0.7rem;
  // }


  // .nav__options li a:hover {
  //   background-color: #a08fb0;
  //   color: whitesmoke;
  //   background-color: rgba(172, 107, 207, 0.383);
  //   color: black;
  // }

  // Sobrescribir en pantallas grandes
  @include respond(tablet) {

    .nav__options.active {
      flex-direction: row;
      position: static;
      width: auto;
      height: auto;
      background: transparent;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      gap: 1rem;
    }

  }

  // Overlay con fade
  .overlay {
    position: fixed;
    top: 0;
    left: 3rem;
    // right: 5rem;
    bottom: 0;
    // inset: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  // // Mostrar el boton de cierre / Ventana activa / Mobile menu
  // @include respond(tablet) {

  //   .menuToggle {
  //     position: absolute;
  //     top: 5%;
  //     width: 30px;
  //     height: 30px;
  //     background-color: chartreuse;
  //   }
  // }
}