@use "sass:color";

@use '../core/' as core;
@use "../config/" as *;

.ads {
  // width: 100%;
  // background-color: core.$primary;
  @include container($container-widths);
  margin-top: 5.625rem; // igual a la altura del header
  background-color: color.scale(core.$brand-color-three, $lightness: +90%, $saturation: -65%);



  &__container {
    border-radius: core.$base-border-radius;

    margin-top: 50px;
    // background-color: core.$primary;
    color: black;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 30px;
    padding: 1rem 2rem;
  }

  h2 {
    text-align: center;
    font-family: core.$brand-secondary-font;
    font-weight: 400;
    @include responsive-font($section-titles-sizes);


  }

  p {
    @include responsive-font($p-sizes);
    text-align: center;
    line-height: 1.6;

    span {

      // @include responsive-span-brand;
      @include responsive-font($span-sizes);
      font-style: italic;
      font-weight: 600;
      font-family: core.$prata;
    }
  }
}